@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  border: none;
  border-radius: 8px;
}

.btn-dark {
  background-color: #111;
  color: #fffaf0;
}

.btn-dark:hover {
  background-color: #fffaf0;
  color: #111;
}

.btn-light {
  background-color: #fffaf0;
  color: #111;
}

.btn-light:hover {
  background-color: #111;
  color: #fffaf0;
}

.btn-primary {
  background-color: #ffd700;
  color: #111;
}

.btn-primary:hover {
  background-color: #111;
  color: #ffd700;
}

.btn-secondary {
  background-color: #012222;
  color: #fffaf0;
}

.btn-secondary:hover {
  background-color: #fffaf0;
  color: #012222;
}

.lh-sm {
  line-height: 1.2
}
.lh-md {
  line-height: 1.6
}
.lh-lg {
  line-height: 2.0
}

